body{
	margin: 0;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.row::before, .row::after{
	content: "";
	display: block;
	clear: both;
}

.col{
	float: left;
	margin: 3px 0;
	padding: 0 10px;
	box-sizing: border-box;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


/*Espacio vacio, asi se evita agregar on elmento vacio innecesario al html*/
.col-offset-6{margin-left: 50%;}

/*Seleccionar el primer hijo de una serie de lementos y al ultimo*/
/*.col:fitst-child{
	padding-left: 0;
}

.col:last-child{
	padding-right: 0;
}*/

.box{
	margin: 0;
	padding: 20px;
	background-color: #e74c3c;
	color: #fff;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
}

/*Dispositivos menores a 480px - Extra small*/
/*Cuando yo este desde 0 hasta 480px*/
@media screen and (min-width: 0px) and (max-width: 480px){
	.container{
		width: 100%;
	}
	/*selector multiple*/
	/*seleciono todaslas clases col-*/
	[class*=col-]{
		width: 100%;
	}
	
	[class*=col-offset-]{
		margin: 0;
	}

	.col{
		padding: 0 15px;
	}

}

/*Small Screens*/
@media screen and (min-width: 768px){
	.container{
		width: 750px;
	}
}

/*Medium Screens*/
@media screen and (min-width: 992px){
	.container{
		width: 960px;
	}
}

/*Large Screens*/
@media screen and (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

@media screen and (min-width: 1980px){
	.container{
		width: 1600px;
	}
}

@media screen and (min-width: 3840px){
	.container{
		width: 3600px;
	}
}