.container{
	width: 960px;
	margin: 0 auto;
}

.caja{
	width: 237px;
	height: 240px;
	background-color: #e74c3c;
	color: whitesmoke;
	margin-top: 20px;
	font-size: 80px;
	text-align: center;
	line-height: 170px;
	padding: 20px;
	border: 10px solid #f1c40f;
	box-sizing: border-box;
	display: inline-block;
}

.cajita{
	width: 240px;
	height: 240px;
	background-color: #16a085;
	color: whitesmoke;
	margin-top: 20px;
	font-size: 80px;
	text-align: center;
	padding: 20px;
	border: 10px solid #f39c12;
	line-height: 180px;
	box-sizing: border-box;
	float: left;
}

.tri1, .tri2, .tri3{
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 320px solid red;
	float: left;
}

/*Siempre al usar un float, debe estar encerrado*/
/*Dentro de un div que haga clear: both; antes y despues*/
.wrapper::before, .wrapper::after{
	content: "";
	display: block;
	clear: both;
}